<tr class="servant-table-row">
  <td class="hidden"><%= servant.name %></td>
  <td class="hidden"><%= servant.servant_class.name %></td>
  <td class="hidden"><%= servant.rarity %></td>
  <td>
    <%= servant.official_id %>
  </td>
  <td class="card-icon">
    <%= image_tag (servant.avatar.present? ? servant.avatar.url : ""), hover: servant.name %>
  </td>
  <td>
    <%= servant.name %> <%= link_to "Edit", edit_servant_path(servant) %><br />
    <%= servant.tag_list %>
  </td>
  <td>
    <%= image_tag "servant_icons/#{servant.servant_class.icon}", size: "40x40"  %>
    <%= servant.servant_class.name %>
  </td>
  <td><%= "★" * servant.rarity %></td>
</tr>
